{
  "type": "service_account",
  "projectId": "dummy-bef72",
  "privateKeyId": "d9ba04.....",
  "privateKey": "-----BEGIN PRIVATE KEY-----\n.......-----END PRIVATE KEY-----\n",
  "clientEmail": "firebase-adminsdk-....@dummy-bef72.iam.gserviceaccount.com",
  "clientId": "1081....",
  "authUri": "https://accounts.google.com/o/oauth2/auth",
  "tokenUri": "https://oauth2.googleapis.com/token",
  "authProviderX509CertUrl": "https://www.googleapis.com/oauth2/v1/certs",
  "clientX509CertUrl": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-pzzjw%40dummy-bef72.iam.gserviceaccount.com"
}
